@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700');
#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;

}
.wrapper {
	color:white;
	top:100px;
	float: left;
	font-family:"Imprint Mt Shadow";
	font-size:20px;
	padding:10px;
	margin: 50px 10px;
}
.container{
	color:#D52424;
	font-family:"Old English Text Mt";
	font-size:35px;
	text-decoration: underline;
}
#audiositos{
	height: 80px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed;
	background: black;
}
h4 {
animation-duration: 12s !important; /*tiempo que dura la animación*/ 
animation-delay: 5s; /*tiempo de espera hasta que se produce la animación*/
/*  animation-iteration-count: infinite;*/
}
h4 {
	 background: -webkit-linear-gradient(#BC1A68, #D52424);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lista {

	color:white;
	float:left;
	top:100px;
	font-family:"Imprint Mt Shadow";
	font-size:20px;
	padding:10px;
}
p::selection {
    background: red;
    color: black;
    text-shadow: 1px 1px #fff;
}

/* Firefox */
p::-moz-selection {
    background: red;
    color: black;
    text-shadow: 1px 1px #fff;
}

h3{
	color:#D52424;
	font-family:"Kunstler Script";
	font-size:60px;
	 background: -webkit-linear-gradient(#BC1A68, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tituloraro {
text-align: left;
}

body{
	background-size: cover;
	background-attachment:fixed;
	background-position:50% 0%;
	background-repeat: no-repeat;
	padding: 4%;

}

.link2{
	
	color:#D52424;
	font-family:"ALGERIAN";
	letter-spacing: 20px;
}
.colorlink1 {
	color:#FF7070;
} 
.colorlink2 {
color:#FF7070;
} 
.colorlink3{
	color:#FF7070;
} 
.link3{
	
	color:#FF7070;
	font-family:"ALGERIAN";
	letter-spacing: 20px;
}
.colorlink1 {
	color:#FF7070;
} 
.colorlink2 {
color:#FF7070;
} 
.colorlink3{
	color:#FF7070;
} 

.sonidosl {
		color:#CC0000;
	font-family:"ALGERIAN";
	letter-spacing: 15px;
	font-size:15px;
}
.paso1 {
	
	color:#CC0000;
	font-family:"Kunstler Script";
	font-size:60px;
}
.paso2{
	
	color:#CC0000;
	font-family:"Kunstler Script";
	font-size:60px;
}

.juju{
	text-align: center;
}